<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>PXU TPL</title>
    
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  
  <body class="">
    <div class="container">
      <header class="main-header">
        <h1>Transition Pattern Library</h1>
        <div class="breadcrumbs">
          
        </div><!-- breadcrumbs -->
      </header>
      <div class="content">
        /*
Syntax error: File to import not found or unreadable: bourbon.
              Load paths:
                /Users/kevin/Sites/pxu-tpl/source/css
                /Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 9 of /Users/kevin/Sites/pxu-tpl/source/sass/hovers.scss

4: Overlays
5: */
6: 
7: // This shit should be centralized and imported
8: 
9: @import 'bourbon';
10: @import 'rem/rem';
11: 
12: 
13: $white: #fff;
14: $light: #ECEDED;

Backtrace:
/Users/kevin/Sites/pxu-tpl/source/sass/hovers.scss:9
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/import_node.rb:45:in `import'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/renderers/sass.rb:67:in `evaluate'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/tilt-1.3.7/lib/tilt/template.rb:77:in `render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/rendering.rb:264:in `render_individual_file'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/rendering.rb:148:in `render_template'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/sitemap/resource.rb:128:in `block in render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/activesupport-3.2.13/lib/active_support/notifications.rb:125:in `instrument'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/util.rb:60:in `instrument'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/application.rb:222:in `instrument'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/sitemap/resource.rb:114:in `render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/request.rb:255:in `process_request'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/request.rb:204:in `block in call!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/request.rb:203:in `catch'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/request.rb:203:in `call!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/core_extensions/request.rb:188:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.4.5/lib/rack/urlmap.rb:64:in `block in call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:137:in `render_to_file'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:282:in `block in execute!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:279:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:279:in `execute!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:198:in `invoke!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/actions.rb:95:in `action'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli/build.rb:65:in `build'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/task.rb:27:in `run'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli.rb:77:in `method_missing'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/task.rb:29:in `run'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/task.rb:126:in `run'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/lib/middleman-core/cli.rb:22:in `start'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/middleman-core-3.0.13/bin/middleman:18:in `<top (required)>'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/bin/middleman:19:in `load'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/bin/middleman:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon.\A               Load paths:\A                 /Users/kevin/Sites/pxu-tpl/source/css\A                 /Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 9 of /Users/kevin/Sites/pxu-tpl/source/sass/hovers.scss\A \A 4: Overlays\A 5: */\A 6: \A 7: // This shit should be centralized and imported\A 8: \A 9: @import 'bourbon';\A 10: @import 'rem/rem';\A 11: \A 12: \A 13: $white: #fff;\A 14: $light: #ECEDED;"; }

      </div><!-- content -->
    </div><!-- container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    

  </body>
</html>