/*
screen.scss
Stylesheet for PXU TPL
Overlays
*/
/*
Block containers
--------------------------------*/
.block-container {
  display: block;
  height: auto;
  text-align: centered;
  width: 100%; }

/*
Blocks
--------------------------------*/
.block {
  background-color: #d9dbdc;
  display: block;
  width: 50%; }

/*
Dimensions
--------------------------------*/
.tall {
  height: 250px; }

/*
Example-specific styles
--------------------------------*/
/*
Fade-in
*/
