/*
screen.scss
Stylesheet for PXU TPL
Overlays
*/

// This shit should be centralized and imported

@import 'bourbon';
@import 'rem/rem';


$white: #fff;
$light: #ECEDED;
$medium: #D9DBDC;
$dark: #808181;
$darkest: #222;
$text: #4e4e4e;
$title: #ccc;


/*
Block containers
--------------------------------*/

.block-container {
  display: block;
  height: auto;
  text-align: center;
  width: 100%;
}

/*
Shapes
--------------------------------*/

.block, .circle {
  display: block;
  margin: 0 auto 20px auto;
}

.block {
  position: relative;
  width: 50%;
}

.circle {
  @include rem(border-radius, 50px);
  @include rem(height, 100px);
  @include rem(width, 100px);
}

/*
Overlays
--------------------------------*/

.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*
Colours
--------------------------------*/

.white {
  background-color: $white;
}

.light {
  background-color: $light;
}

.medium-light {
  background-color: #ccc;
}

.medium {
  background-color: $medium;
}

.dark {
  background-color: #808181;
}

.darkest {
  background-color: #222;
}

.text {
  background-color: #4e4e4e;
}


/*
Dimensions
--------------------------------*/

.title {
  @include rem(height, 35px);
}

.super-tall {
  @include rem(height, 400px);
}

.tall {
  @include rem(height, 250px);
}

/*
Example-specific styles
--------------------------------*/

/*
Fade-in
*/

.fade-in .overlay .circle, .fade-in .overlay .title {
  opacity: 0;
}

.fade-in .circle {
  @include rem(margin-top, 90px);
}

.fade-in .title {
  @include rem(margin-top, 40px);
}

/*
Two step fade-in
*/

.two-step-fade-in .overlay .circle, .two-step-fade-in .overlay .title {
  opacity: 0;
}

.two-step-fade-in .circle {
  @include rem(margin-top, 90px);
}

.two-step-fade-in .title {
  @include rem(margin-top, 40px);
}






