/*
screen.scss
Stylesheet for PXU TPL
*/


// SASS Libs ------------

@import 'bourbon';
@import 'rem/rem';


// SASS Vars
// -----------------------------*/

// Colors

$white: #fff;
$light: #ECEDED;
$medium: #D9DBDC;
$dark: #808181;
$darkest: #222;
$text: #4e4e4e;
$title: #ccc;


// Typeface

$sans: "Proxima Nova", "helvetica neue", arial, sans-serif;


/*
Base
--------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

audio[controls], canvas, video {
  display: inline-block;
  *display:
  inline; *zoom: 1;
}

::-moz-selection {
  background: $medium;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $medium;
  color: $white;
  text-shadow: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;  
}

html {
  font-size: 10px;
  vertical-align: baseline;
}

body {
  color: $dark;
  font-family: $sans;
  @include rem(font-size, 14px);
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  color: $dark;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0;
}

h1 {
  @include rem(font-size, 14px);
  font-weight: 700;
  @include rem(margin-bottom, 7px);
  text-transform: uppercase;
}

h2 {
  @include rem(font-size, 11px);
}

a, a:visited {
  color: $dark;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: $dark;
  outline: 0;
}

b, strong {
  font-weight: 700;
}

p {
  @include rem(margin, 14px 0);
}

ul, ol, dl {
  list-style: none;
  @include rem(margin, 0 0 14px 0);
  padding: 0;
}

li {
  @include rem(margin, 7px 0);
}

img {
  border: 0;
  display: block;
  line-height: 0;
  margin: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  padding: 0;
}

figure {
  @include rem(margin, 0 0 7px 0);
}

figcaption {
  font-style: italic;
}

/*
Layout
--------------------------------*/

.container {
  margin: 0 auto;
  @include rem(max-width, 1000px);
  min-width: 320px;
  position: relative;
  width: 100%;
}

.main-header {
  @include rem(min-height, 60px);
  @include rem(padding, 20px);
  text-align: right;
}

.content {
  @include rem(min-height, 600px);
  @include rem(padding, 20px);

}

/*
Header
*/

a.logotype {
  color: $dark;
  display: block;
  @include rem (font-size, 16px);
  font-weight: 700;
  @include rem(line-height, 20px);
  @include rem(margin,  0 0 20px 30px);
}

/*
Adaptive
--------------------------------*/

