---
title: Home
---

<div class="list-group">
<h2>Content transitions</h2>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>three</li>
    <li>Four</li>
  </ul>
</div><!-- list-group -->

<div class="list-group">
  <h2><a href="/hovers/">Hover transitions</a></h2>
  <ul>
    <li><a href="/hovers/fade-in.html">Fade-in</a></li>
    <li><a href="/hovers/two-step-fade-in.html">Two step fade-in</a></li>
  </ul>
  <%= list_pages %>
</div><!-- list-group -->